		</section>
		<footer>
			<p>Maintained by <a href="https://github.com/zeux">Arseny Kapoulkine</a></p>
			<p><small>Hosted on GitHub &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
		</footer>
	</div>
	<script type="text/javascript">
		// scale.fix.js
		var metas = document.getElementsByTagName('meta');
		var i;
		if (navigator.userAgent.match(/iPhone/i)) {
			for (i=0; i<metas.length; i++) {
				if (metas[i].name == "viewport") {
					metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
				}
			}
			document.addEventListener("gesturestart", gestureStart, false);
		}
		function gestureStart() {
			for (i=0; i<metas.length; i++) {
				if (metas[i].name == "viewport") {
					metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
				}
			}
		}
	</script>
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-954596-3', 'auto');
		ga('send', 'pageview');

		function trackDownload(name) {
			ga('send', 'event', 'download', 'click', name);
		}
	</script>
</body>
</html>
