<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>pugixml.org - {{ page.title }}</title>

	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div class="wrapper">
		<header>
			<a href="/"><h1>pugixml</h1></a>
			<p>Light-weight, simple and fast XML parser for C++ with XPath support</p>

			Repository:
			<ul>
			<li style="list-style-type: none"><a href="https://github.com/zeux/pugixml">github.com/zeux/pugixml</a><br/>
			<small>Git and Subversion access</small></li>
			</ul>

			Downloads:
			<ul>
			<li><a href="http://github.com/zeux/pugixml/releases/download/v{{site.version}}/pugixml-{{site.version}}.zip" onclick="trackLink('download', 'pugixml-{{site.version}}.zip')">pugixml-{{site.version}}.zip</a><br/>
			<small>374 KB, Windows line endings</small></li>
			<li><a href="http://github.com/zeux/pugixml/releases/download/v{{site.version}}/pugixml-{{site.version}}.tar.gz" onclick="trackLink('download', 'pugixml-{{site.version}}.tar.gz')">pugixml-{{site.version}}.tar.gz</a><br/>
			<small>349 KB, Unix line endings</small></li>
			</ul>

			Documentation:
			<ul>
			<li><a href="/docs/quickstart.html" onclick="trackLink('documentation', 'quickstart')">Quick-start guide</a><br/>
			<small>Read this to start using the library</small></li>
			<li><a href="/docs/manual.html" onclick="trackLink('documentation', 'manual')">Complete reference manual</a><br/>
			<small>Read this for full library reference</small></li>
			<li><a href="/benchmark.html">Benchmarks</a></li>
			<li><a href="/license.html">License</a></li>
			</ul>

			Support:
			<ul>
			<li><a href="https://github.com/zeux/pugixml/issues">Issue tracker</a></li>
			<li><a href="mailto:arseny.kapoulkine@gmail.com">E-mail author</a></li>
			</ul>
		</header>
		<section>
